@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 200;
}

.noto-sans-tc-regular {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-sans-tc-bold {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.noto-sans-tc-light {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  width: 100%;
  padding-top: 54px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 54px;
  background-color: #fff;
  z-index: 1000;
  border-bottom: 1px solid #e8e8e8;
}
.header .header-content {
  display: flex;
  width: 1200px;
  align-items: center;
  justify-content: space-between;
}
.header .title {
  padding: 6px;
  font-size: 30px;
  font-weight: 700;
  color: #448899;
  line-height: 34px;
  text-align: left;
  cursor: pointer;
}
.header .menu {
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
}
.header .menu .menu-items {
  display: flex;
  text-align: center;
  justify-content: center;
}
.header .menu .menu-items .menu-item {
  padding: 6px;
  cursor: pointer;
  color: #666;
  font-size: 16px;
  font-weight: 500;
  line-height: 13.3px;
  text-align: left;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.top-content {
  display: flex;
  width: 1200px;
  border-bottom: 1px solid #e8e8e8;
  padding: 40px 0;
  justify-content: center;
  align-items: center;
}

.left-side-top {
  display: flex;
  width: 570px;
  justify-content: center;
  padding: 0 15px;
}
.left-side-top .left-img-container {
  display: flex;
  width: 100%;
  height: 400px;
  position: relative;
}
.left-side-top .left-img-container .img-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.left-side-top .left-img-container .img-wrapper .left-img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  flex: 1 0 100%;
  scroll-snap-align: start;
}
.left-side-top .left-img-container .slide-nav {
  height: 12px;
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
  position: absolute;
  bottom: 10px;
  right: 50%;
  transform: translateX(50%);
}
.left-side-top .left-img-container .slide-nav .img-dot {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
  opacity: 0.5;
  z-index: 10;
  transition: opacity ease 250ms;
  cursor: pointer;
}
.left-side-top .left-img-container .slide-nav .img-dot:hover {
  opacity: 1;
}
.left-side-top .left-img-container .slide-nav .active {
  background: #000;
}
.left-side-top .left-img-container .arrow-left,
.left-side-top .left-img-container .arrow-right {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
  cursor: pointer;
}
.left-side-top .left-img-container .arrow-left {
  left: 10px;
  z-index: 10;
}
.left-side-top .left-img-container .arrow-left:hover {
  opacity: 1;
}
.left-side-top .left-img-container .arrow-right {
  right: 10px;
  z-index: 10;
}
.left-side-top .left-img-container .arrow-right:hover {
  opacity: 1;
}

.right-side-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 630px;
  padding: 10px 15px;
}
.right-side-top .right-attraction {
  color: #666;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}
.right-side-top .right-cat-mrt {
  display: flex;
}
.right-side-top .right-cat-mrt .right-subtitle {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 13.3px;
  text-align: left;
}
.right-side-top .right-booking-container {
  background-color: #e8e8e8;
  padding: 0 20px;
  height: 302px;
  border-radius: 5px;
}
.right-side-top .right-booking-container .right-sm-title {
  color: #666;
  font-size: 16px;
  font-weight: 700;
  line-height: 13.3px;
  text-align: left;
}
.right-side-top .right-booking-container .right-sm-paragraph {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 13.3px;
  text-align: left;
}
.right-side-top .right-booking-container .right-info {
  display: flex;
  align-items: center;
  padding: 0;
}
.right-side-top .right-booking-container .right-info .input-date {
  width: 193px;
  height: 35px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 13.3px;
  text-align: left;
  margin-left: 5px;
}
.right-side-top .right-booking-container .right-info .right-sm-price,
.right-side-top .right-booking-container .right-info .price {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 13.3px;
  text-align: left;
}
.right-side-top .right-booking-container .p1 {
  margin: 15px 0 0 0;
  height: 22px;
}
.right-side-top .right-booking-container .p2 {
  margin: 15px 0 0 0;
  height: 24px;
}
.right-side-top .right-booking-container .p3 {
  margin: 15px 0 0 0;
  height: 35px;
}
.right-side-top .right-booking-container .p4,
.right-side-top .right-booking-container .p5 {
  margin: 15px 0 0 0;
  height: 22px;
}

.booking-btn {
  width: 154px;
  height: 36px;
  margin-top: 25px;
  border: 1px solid #448899;
  background-color: #448899;
  border-radius: 5px;
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
}

input[type=date]::-webkit-calendar-picker-indicator {
  width: 24px;
  height: 24px;
  padding: 0;
  margin-right: 10px;
  margin-top: 0px;
  align-items: center;
}

.check-container {
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-left: 5px;
}
.check-container .check-text {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 13.3px;
  text-align: left;
  padding: 0 5px;
}

.check-btn {
  display: none;
}

.check-style {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  background-color: #fff;
}

.check-style::after {
  content: "";
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #448899;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.check-btn:checked + .check-style::after {
  opacity: 1;
}

.bottom-content {
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding: 40px 0;
}
.bottom-content .bottom-box {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}
.bottom-content .bottom-box .bottom-title {
  color: #666;
  font-size: 16px;
  font-weight: 700;
  line-height: 13.3px;
  text-align: left;
  padding: 5px 0;
}
.bottom-content .bottom-box .bottom-paragraph {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.17px;
  text-align: left;
  padding: 5px 0;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-paragraph {
  color: #666;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.17px;
  text-align: left;
  padding: 25px 0 0 0;
}

.footer {
  background-color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 104px;
  width: 100%;
}
.footer .footer-text {
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 700;
  line-height: 13.3px;
  text-align: left;
  color: #fff;
}

@media (min-width: 920px) and (max-width: 1200px) {
  .top-content {
    width: 100%;
    border-bottom: none;
  }
  .bottom-content {
    width: 100%;
    padding: 0 0 40px 0;
  }
  .bottom-content .first-bottom-box {
    border-top: 1px solid #e8e8e8;
    padding: 50px 0 0 0 !important;
    margin: 0 10px 10px 10px !important;
  }
  .bottom-content .bottom-box {
    padding: 0;
    margin: 10px;
  }
}
@media (min-width: 600px) and (max-width: 920px) {
  .top-content {
    flex-direction: column;
    width: 100%;
    border-bottom: none;
  }
  .top-content .left-side-top {
    width: 100%;
    padding: 0;
  }
  .top-content .left-side-top .left-img-container {
    width: 80%;
  }
  .top-content .right-side-top {
    width: 80%;
    padding: 30px 0px 10px 0px;
  }
  .bottom-content {
    width: 90%;
    padding: 0 0 40px 0;
  }
  .bottom-content .first-bottom-box {
    border-top: 1px solid #e8e8e8;
    padding: 50px 0 0 0 !important;
    margin: 0 10px 10px 10px !important;
  }
  .bottom-content .bottom-box {
    padding: 0;
    margin: 10px;
  }
}
@media (min-width: 360px) and (max-width: 600px) {
  .top-content {
    flex-direction: column;
    width: 100%;
    padding: 0 0 40px 0;
    border-bottom: none;
  }
  .top-content .left-side-top {
    width: 100%;
    padding: 0;
  }
  .top-content .left-side-top .left-img-container {
    width: 100%;
    height: 350px;
  }
  .top-content .left-side-top .left-img-container .img-wrapper {
    border-radius: 0;
  }
  .top-content .left-side-top .left-img-container .img-wrapper .left-img {
    height: 350px;
  }
  .top-content .right-side-top {
    width: 100%;
    padding: 20px 15px 10px 15px;
  }
  .top-content .right-side-top .p2 {
    height: 40px;
  }
  .top-content .right-side-top .p2 .right-sm-paragraph {
    line-height: 23.17px;
  }
  .bottom-content {
    width: 100%;
    padding: 0 0 40px 0;
  }
  .bottom-content .first-bottom-box {
    border-top: 1px solid #e8e8e8;
    padding: 50px 0 0 0 !important;
    margin: 0 10px 10px 10px !important;
  }
  .bottom-content .bottom-box {
    padding: 0;
    margin: 10px;
  }
}/*# sourceMappingURL=attraction.css.map */