* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 200;
}

//font
.noto-sans-tc-regular {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-sans-tc-bold {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.noto-sans-tc-light {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  width: 100%;
  padding-top: 54px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// Header
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 54px;
  background-color: #fff;
  z-index: 1000;
  border-bottom: 1px solid #e8e8e8;
  .header-content {
    display: flex;
    width: 1200px;
    align-items: center;
    justify-content: space-between;
  }
  .title {
    padding: 6px;
    font-size: 30px;
    font-weight: 700;
    color: #448899;
    line-height: 34px;
    text-align: left;
    cursor: pointer;
  }

  .menu {
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    .menu-items {
      display: flex;
      text-align: center;
      justify-content: center;
      .menu-item {
        padding: 6px;
        cursor: pointer;
        color: #666;
        font-size: 16px;
        font-weight: 500;
        line-height: 13.3px;
        text-align: left;
      }
    }
  }
}

//
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.booking-container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-bottom: 1px solid #e8e8e8;
}

.top-paragraph {
  width: 1000px;
  text-align: center;
  margin: 40px 0 40px 0;
  font-size: 19px;
  line-height: 30px;
  font-weight: 700;
  color: #666;
}

.second-paragraph {
  width: 1000px;
  height: 24px;
  text-align: center;
  margin: 40px 0 80px 0;
  font-size: 16px;
  font-weight: 400;
  color: #666;
}

.order-number {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #666;
}

// footer
.footer {
  background-color: #757575;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  height: 100vh;
  width: 100%;

  .footer-text {
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 700;
    line-height: 13.3px;
    text-align: left;
    color: #fff;
  }
}

@media (min-width: 680px) and (max-width: 1200px) {
  .container {
    width: 100%;
  }

  .booking-container {
    width: 90%;

    .top-paragraph,
    .second-paragraph,
    .order-number {
      width: 100%;
    }
  }
}

@media (min-width: 360px) and (max-width: 680px) {
  .container {
    width: 100%;
  }

  .booking-container {
    width: 100%;
    padding: 0 10px;
    align-items: start;
    border-bottom: none;

    .top-paragraph,
    .second-paragraph,
    .order-number {
      width: 100%;
    }
  }
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&display=swap");
